.recap-title {
  margin-top: 180px;
  padding-top: 56%;
  font-size: 2.4rem;
  font-weight: 700;
  background-image: url('../assets/img/ic_2018.svg');
  background-size: 92% auto;
  background-position: center 5%;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    padding-top: 32%;
    background-size: 50% auto;
  }
}

.recap-tagline {
  margin-bottom: 120px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;

}

.event-layout {
  position: relative;
  padding: 0 16px 0 24px;

  &::before {
    position: absolute;
    box-sizing: content-box;
    left: 0;
    top: -2px;
    z-index: 20;
    content: '';
    width: 10px;
    height: 10px;
    background-color: $white;
    border: 4px solid $black;
    border-radius: 50%;

    @media screen and (min-width: 768px) {
      top: 4px;
    }
  }

  &::after {
    position: absolute;
    left: 9px;
    top: 16px;
    z-index: 10;
    content: '';
    height: 100%;
    border-left: 1px solid rgba($white, 0.5);
  }
}

.event-hr {
  margin: 0 0 16px;
  border-top: 0;
  border-bottom: 1px solid rgba($white, 0.2);
}

.event-title-date {
  color: $skyblue;
  font-size: 1.4rem;

  @media screen and (min-width: 768px) {
    position: absolute;
    left: -90px;
    top: 6px;
  }
}

.event-title-name {
  color: $white;
  font-size: 2.4rem;
}

.event-points {
  padding: 0 0 0 16px;
}

.event-point-item {
  font-weight: 300;
  list-style-type: square;
}

.recap-footer {
  margin-bottom: 32px;
}
