.recap-title {
  padding-top: 53.33333%;
  font-size: 2.4rem;
  font-weight: 700;
  background-image: url('../assets/img/cosign_logo_b.svg');
  background-size: 50% auto;
  background-position: left top;
  background-repeat: no-repeat;
}
